@import "@/assets/styles/base/variables";

.forgot-password{
&__submit{
  margin-top: 15px;
  width: 100%;
}

  &__back-button{
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    color: $white-color;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }
}