$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1556;
$containerWidth: 1526;

$mainFont: 'Inter';
$mainWeight: 400;

$outerSpaceColor: #2B2D3F;
$whiteColor: #fff;
$blackColor: black;

$fontFamily: $mainFont, sans-serif;
$fontColor: $whiteColor;
$fontSize: 14;
$fontWeight: $mainWeight;
