$max-width: 1920;
$min-width: 320;
$max-width-container: 1556;

$main-font: 'Inter';
$main-weight: 400;

$aubergine-color: #613640;
$light-gray-color: #d9d9d9;
$lighter-gray-color: #dedede;
$dark-navy-color: #2b2e3d;
$deep-blue-color: #3d3d59;
$dark-blue-color: #2b2b3d;
$green-color: #2ea62e;
$olive-color: #54523b;
$midnight-color: #262638;
$blue-gray-color: #3b3d59;
$cool-gray-color: #9999a6;
$vivid-blue-color: #2e80ed;
$coral-red-color: #eb5757;
$vibrant-green-color: #26ad61;
$scarlet-color: #f73b3b;
$slate-gray-color: #6b6b78;
$mint-color: #2ed178;
$dark-gray-blue-color: #3b3d54;
$slate-blue-color: #42455e;
$goldenrod-color: #ffc21c;
$silver-color: #858585;
$black-color: #000000;
$dark-slate-color: #404259;
$midnight-blue-color: #33364a;
$deep-slate-color: #424561;
$navy-blue-color: #33364d;
$dark-indigo-color: #36384f;
$yellow-color: #ffe329;
$amber-color: #ffbd00;
$midnight-sky-color: #2b2e40;
$midnight-blue-color: #2b2d3f;
$deep-lavender-color: #515377;
$white-color: #ffffff;
$deep-midnight-blue-color: #34364b;

$default-gradient-color: linear-gradient(93deg, #ffbc19 -3.34%, #fee92c 102.31%);
$gold-gradient-color: linear-gradient(93deg, #eca700 46.63%, #fcea4c 94.69%);

$focus-color: #ccc;
$inherit-color: inherit;
$transparent-color: transparent;

$font-family: $main-font, sans-serif;
$font-color: $white-color;
$font-size: 14;
$font-weight: $main-weight;
