@import "@/assets/styles/base/variables";

.catalog-page {
  padding-top: 150px;

  &__container{

  }

  &__inner{
    display: flex;
  }

  &__asside{
    height: 100%;
    min-width: 280px;
  }

  &__title-block{
    margin-top: 60px;
    display: flex;
    align-items: center;
  }

  &__title{
    color: $white-color;
    font-family: $font-family;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__description{
    margin-top: 20px;
    color: rgba($color: $white-color, $alpha: 70%);
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
  }

  &__products-list{
    margin-top: 83px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__worth-block{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}