@import '@/assets/styles/base/variables';

.form {
  padding: 19px 35px 35px;

  &__title {
    color: $white-color;
    font-family: $font-family;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }

  &__input {
    max-width: 303px;
    width: 100%;
  }

  .input-component ~ .input-component {
    margin-top: 15px;
  }
}

.sign-in {
  &__forgot-password {
    margin-top: 10px;
  }

  &__submit {
    margin-top: 30px;
    width: 100%;
  }

  &__sign-up-button {
    margin-top: 20px;
  }

  &__social {
    text-align: center;
    margin-top: 35px;

    &-title {
      color: rgba($color: $white-color, $alpha: 50%);
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
    }

    &-buttons {
      width: fit-content;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      column-gap: 10px;
    }
  }
}
