.reviews-section {
  padding-bottom: 55px;
  padding-top: 50px;

  &__reviews-list {
    margin-top: 60px;

    &-item {
      width: fit-content;
      display: flex;
      height: auto;
    }
  }
}
