@import '@/assets/styles/base/mixins';

.reviews-section {
  padding-bottom: 55px;
  padding-top: 50px;

  @include media-breakpoint-down(sm){
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__pagination{
    margin-top: 45px;

    @include media-breakpoint-down(sm){
      margin-top: 35px;
    }
  }

  &__reviews-list {
    margin-top: 60px;

    @include media-breakpoint-down(sm){
      margin-top: 35px;
    }

    &-item {
      width: 100%;
      display: flex;
      height: auto;
    }
  }

  &-embla{
    &__container{
      column-gap: 20px;
    }

    &__slide{
      max-width: 285px;
      min-width: 272px;
      width: 100%;
    }
  }
}
