@import '@/assets/styles/base/index';
// todo: delete
.button {
  border-radius: 50px;
  padding: 18px 38px;
  color: $outer-space-color;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  &:focus {
    outline: 1px solid $focus-color;
  }

  &:active {
    transform: scale(0.95);
  }
}
