@import '@/assets/styles/base/mixins';

.choose-section {
  padding-top: 55px;
  padding-bottom: 55px;

  &__cards-list {
    margin-top: 60px;

    .embla__container{
      @include media-breakpoint-down(xxs){
        display: grid;
      }
    }

    .embla__slide{
      max-width: 380px;
      width: 100%;
    }
  }
}
