.breadcrumbs{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;

  &__link-block{
    display: flex;

    align-items: baseline;
    color: rgba(255, 255, 255, 0.50);
  }

  &__link{
    margin-left: 16px;
    color: rgba(255, 255, 255, 0.50);
  }
}