@import '@/assets/styles/base/mixins';
@import '@/assets/styles/base/variables';

.burger-button {
  background: none;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background 0.3s;

  &:focus {
    outline: none;
  }

  span {
    border-radius: 20px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translate(0, -50%);
    background: $white-color;

    &::before,
    &::after {
      border-radius: 20px;
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $white-color;
      transition:
        transform 0.3s,
        background-color 0.3s;
    }

    &::before {
      left: 0;
      top: -9px;
    }
    &::after {
      left: 0;
      bottom: -9px;
    }
  }

  &.burger-button__animx.is-active {
    span {
      background: none;

      &::before {
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }
      &::after {
        bottom: 0;
        left: 0;
        transform: rotate(-45deg);
      }
    }
  }

  z-index: 0; //refactoring
  &.is-active {
    z-index: 5;
    transition: z-index 5s ease;
  }
}

.header {
  position: sticky;
  top: 0;
  background: $deep-midnight-blue-color;
  box-shadow: 0 10px 15px 0 rgba($color: $black-color, $alpha: 5%);
  z-index: 10;

  &__container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &-attention-block {
    padding: 10px;
    background: $amber-color;

    &__text {
      text-align: center;
      color: $midnight-blue-color;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }
  }

  &__nav {
    display: flex;
    margin-left: 60px;
    margin-right: 0;

    @include media-breakpoint-down(lg) {
      margin-left: auto;
      margin-right: auto;
    }

    &-link {
      &:not(:first-child) {
        margin-left: 29px;

        @include media-breakpoint-down(lg) {
          margin-left: 10px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__dropdown {
    margin-right: 150px;
    margin-left: auto;

    @include media-breakpoint-down(lg) {
      margin-left: auto;
      margin-right: 40px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-left: auto;
      margin-right: 36px;
    }
  }

  &__menu {
    transform: translate(100%, 0);
    display: none;

    @include media-breakpoint-down(md) {
      transition: transform 0.6s ease;
      position: absolute;
      top: 100%;
      right: 0;
      width: fit-content;
      height: calc(100vh - 100%);
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      &:before {
        width: 100%;
        height: 100vh;
        position: absolute;
        content: '';
        background: $midnight-blue-color;
        bottom: 0;
        left: 0;
        z-index: -1;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
      }

      &.is-active {
        transform: translate(0, 0);
      }
    }
  }

  .logo {
    @include media-breakpoint-down(xs) {
      z-index: 5;
    }

    &__picture {
      @include media-breakpoint-down(xs) {
        max-width: 104px;
        max-height: 20px;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__user-block {
    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__burger-button {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.menu {
  @include media-breakpoint-up(sm) {
    min-width: 325px;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 15px;
  }

  &__line {
    display: block;

    @include media-breakpoint-down(sm) {
      margin-top: 25px;
    }
  }

  &__nav {
    &-link {
      display: block;
      margin-top: 15px;

      &:first-child {
        margin-top: 30px;
      }
    }
  }

  &__user-block {
    padding-top: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;

    @include media-breakpoint-up(sm) {
      display: none;
      column-gap: 10px;
    }
  }

  .menu__outside-block {
    transition: background-color 2s ease;
    background: none;
  }

  &.is-active {
    .menu__outside-block {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 1000vw; // refactoring
      height: 100vh;
      background: rgba($color: $black-color, $alpha: 20%);
      z-index: -2;
    }
  }
}
