@import '@/assets/styles/base/index';

$gradient-default: linear-gradient(93deg, #ffbc19 -3.34%, #fee92c 102.31%);
$gradient-hover: linear-gradient(93deg, #ffbc19 -3.34%, #fee92c 102.31%);
$gradient-active: linear-gradient(93deg, #eca700 46.63%, #fcea4c 94.69%);
$background-hover: #3a3950;
$background-active: #312f4a;

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 100%;
    width: 100%;
  }

  &_circle,
  &_rectangle {
    &:focus {
      outline: 1px solid $focus-color;
    }
  }

  &_circle {
    border-radius: 50%;
    padding: 14px;

    &.button_transparent {
      background: none;
      border: 1px solid rgba($color: $white-color, $alpha: 0.2);

      &:hover {
        background: $white-color;
      }

      &:active {
        background: $bright-yellow-color;
      }
    }

    &:not(.button_transparent) {
      background: #424461;
      fill: $white-color;

      &:hover {
        background: #3a3950;
      }

      &:active {
        background: #312f4a;
      }
    }
  }

  &_rectangle {
    border-radius: 50px;
    padding: 18px 38px;
    color: $outer-space-color;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    &.button_transparent {
      border: 1px solid rgba($color: $white-color, $alpha: 30%);
      background: none;
      color: $white-color;
      transition:
        background 0.3s,
        color 0.3s;

      &:hover {
        background: $bright-yellow-color;
        color: $outer-space-color;
      }

      &:active {
        background: $bright-yellow-color;
      }
    }

    &:not(.button_transparent) {
      background: $gradient-default;
      box-shadow: 0px 5px 15px 0px rgba(255, 188, 0, 0.3);

      &:hover {
        background: $gradient-hover;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
      }

      &:active {
        background: $gradient-active;
      }
    }
  }

  &_transparent {
    svg {
      fill: rgba($color: $white-color, $alpha: 0.2);
    }
    &:hover {
      svg {
        fill: $outer-space-color;
      }
    }
  }

  &:not(.button_rectangle, .button_circle) {
    background: none;

    img {
      width: 100%;
      height: 100%;
      opacity: 30%;
    }

    &.button_active {
      img {
        opacity: 100%;
      }
    }

    &:hover {
      img {
        opacity: 50%;
      }
    }

    &:active {
      img {
        opacity: 100%;
      }
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
