@import '@/assets/styles/base/variables';
@import '@/assets/styles/base/mixins';

.payment-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  gap: 10px;

  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__icon {
    max-height: 54px;
    max-width: 54px;
    width: 100%;
    height: 100%;
    fill: rgba($color: $white-color, $alpha: 40%);
    transition: fill 0.3s;
  }

  .radio-input {
    &:checked ~ .radio-component__label {
      .payment-list__icon {
        fill: $amber-color;
      }
    }

    &:not(:checked):hover ~ .radio-component__label {
      .payment-list__icon {
        fill: $white-color;
      }
    }
  }
}

.payment-item {
  .radio-container {
    justify-content: center;
    overflow: hidden;
    border-radius: 2px;
    width: 111px;
    height: 50px;
    align-items: center;
    background: $dark-slate-gray-color;
    padding: 0 15px;

    .radio-custom {
      width: 14px;
      height: 14px;
      min-height: 14px;
      min-width: 14px;
    }

    @include media-breakpoint-down(xs) {
      width: 140px;
    }
  }
}
