@import '@/assets/styles/base/index';

.link {
  display: block;
  width: fit-content;
  color: $white-color;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 500;

  &_gradient {
    background: $default-gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: $transparent-color;

    &:hover {
      opacity: 50%;
    }
  }

  &_underline {
    color: rgba($color: $white-color, $alpha: 40%);
    text-decoration-line: underline;

    &-gradient {
      text-shadow: 0 10px 15px rgba($color: $black-color, $alpha: 30%);
      background: $default-gradient-color;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: $transparent-color;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      font-size: 14px;
      font-weight: 700;
    }

    &:hover,
    &:active {
      text-decoration-line: underline;
    }
  }

  &_regular {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;

    svg {
      display: block;
      margin-right: 12px;

      use {
        width: 100%;
        height: 100%;
      }
    }
  }

  &:hover {
    color: $amber-color;
  }

  &:active {
    color: $amber-color;
    opacity: 100%;
    scale: 95%;
  }
}
