@import '@/assets/styles/base/mixins';

.latest-news-section {
  padding-bottom: 69px;
  padding-top: 55px;

  &__news-list {
    margin-top: 40px;

    .embla__slide{
      max-width: 380px;
    }
  }
}
